.booking-container {
    margin: 5px 20px;
}

.form-container {
    width: fit-content;
    margin: auto;
    padding: 10px;
    background: #ecf0f1;
}

.row {
    display: flex;
}

.column {
    margin: 10px;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}

.calendar-container {
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    margin: 10px;
}

.calendar-container div {
    border: 1px solid black;
    width: 256px;
}

.calendar-container div ul li, .calendar-container td {
    color: #e74c3c;
    text-align: center;
}

.calendar-container th {
    color: #7f8c8d;
}

.calendar-container table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.view-container {
    margin: 10px;
}

.button-container {
    width: fit-content;
    margin: auto;
}

.button-container button:nth-child(1) {
    margin-right: 10px;
}