#main-container {
    margin: 5px 20px;
}

#main-container div {
    display: flex;
    border: 1px solid black;
}

#box1 {
    background-color: #2ecc71;
    flex-direction: column;
    margin: 5px;
    flex-grpw: 50;
}

#box2 {
    background-color: #f1c40f;
    flex-direction: column;
    margin: 5px;
    flex-grow: 50;
    width: fit-content;
    height: fit-content;
}

#box3 {
    background-color: #9b59b6;
    margin: 5px;
}

#box4 {
    background-color: #e67e22;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#box5 {
    background-color: #3498db;
    margin: 5px;
    flex-direction: column;
}

#box6 {
    background-color: #e74c3c;
    margin: 5px;
    flex-direction: column;
}

#main-container nav, #main-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-container nav ul li {
    display: inline-block;
}

#main-container nav ul li a {
    display: block;
    padding: 5px;
    background-color: #ecf0f1;
    text-decoration: none;
    color: #34495e;
}

#main-container nav ul li a:hover {
    color: #ecf0f1;
    background-color: #34495e;
}

.active {
    color: #ecf0f1;
    background-color: #34495e;
}

#parkImage {
    height: 150px;
    width: 300px;
}